*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper .sidebar{
    position: fixed;
    top: 40%;
    left: 0;
    width: 50px;
    
    padding: 0px 0px;
    transition: all 0.5s ease;
    z-index: 2;
}



.wrapper .sidebar ul li a{
    display: block;
    padding: 0px 12px;
    color: var(--color-light);
    font-size: 16px;
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 16px;
    border-radius: 20px;
    padding-left: 15px;
    background-color: #fff;
    color: blueviolet;
}

.wrapper .sidebar ul li a .icon{
    color: #dee4ec;
    width: 30px;
    display: inline-block;
}



.wrapper .sidebar ul li a:hover
{
    color: var(--color-light);

    background-color: blueviolet;
    color: var(--color-light);
}


.wrapper .sidebar ul li span
{
    font-size: 18px;
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon{
    color: #0c7db1;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
    display: block;
}


.wrapper .section{
    width: calc(100% - 60px);
    margin-left: 15px;
    transition: all 0.5s ease;
    position: fixed;
}

.wrapper .section .top_navbar{
    background: transparent;
    padding: 10px;

}

.wrapper .section .top_navbar .hamburger a{
    font-size: 28px;
    color: #f4fbff;
}

.wrapper .section .top_navbar .hamburger a:hover{
    color: #a2ecff;
}


button.hamburger{
    color:var(--color-light);
    width: 50px;
    font-size: 28px;
}

body.active .wrapper .sidebar{
    left: -70px;
}

body.active .wrapper .section{
    margin-left: 0;
    width: 100%;
}