.all{
    color: white;
    display: flex;
    justify-content: space-between;
    height: 100vh;
    flex-wrap: wrap;
    
}

.groups
{
    border: solid;
    flex: 1;
}

@media (max-width: 1000px) {
    .groups{
        display: none;
    }
}

@media (max-width: 600px) {
    .friends{
        display: none;
    }
}
.chat
{
    background-color: rgba(0, 0, 0, 0.3);
    /* flex-direction: column; */
    border: solid;
    border-radius: 12px;
    flex: 2;
    justify-content: space-between;
}
.friends
{
    border: solid;
    flex: 1;
    width:350px
}

.message
{
    background-color: black;
    margin-left: 20px;
    border-radius: 25px;
    height:35px;
    width:350px
}

.chat-box{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    flex: 2;
}

.chat-box .chat-send-message form
{
    align-items: center;
    margin-top: 1vh;
}

.chat-box .chat-send-message form button
{
    position: relative;
    right: 30px;
}

div.chat-info
{
    display: flex;
    flex:1;
    flex-direction: row;
    padding-left: 10px;
    padding-top: 5px;
}

.chat-messages
{
    background-color: rgb(219, 214, 214);
    flex:10;
    border: solid;
}

.chat-box .chat-send-message
{
    border: solid;
    flex:1;
    align-items: center;
} 

.chat-send-message input
{
    align-items: center;
    background: none;
    border: solid;
    border-radius: 15px;
    width: 400px;
    height: 40px;

}

.profile-img
{
    height: 60px;
    width: 60px;
}

.profile-img img{
    border-radius: 50%;
}

.profile-info
{
    color: aliceblue;
    margin-left: 15px;
    margin-top: 5px;
}

