/node_modules
/.next
node_modules
.next
.DS_Store
./Frontend/.env.local
./backend/.env
/data
# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json