.w{
    max-width: 100%;
    color:var(--color-light);
    padding: 30px;

  }


  .main_home{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(90deg,#092962, #000);
    border-radius: 10px;
    padding: 20px;
  }


  .main_home h2{
    font-size: 28px;
    margin-bottom: 25px;
    font-weight: bold;
  }

  .main_home p{
    font-size: 17px;
    margin-bottom: 20px;

  }

  .main_home button{
    width: 180px;
    height: 50px;
    outline: 0px;
    border-radius: 25px;
    background-color: transparent;
    border: 2px solid var(--color-light);
    color: var(--color-light);
    font-size: 20px;
    transition: 0.3s;
    
  }

  .main_home button:hover{
    
    background-color: var(--color-light);
    color: #092962;

    
  }