.w{
    max-width: 100%;
    color:var(--color-light);
    padding: 30px;

  }


  .main_home{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
  }


  .main_home h2{
    font-size: 30px;
    margin-bottom: 8%;
    font-weight: bold;
  }

  .main_home button{
    width: 180px;
    height: 50px;
    outline: 0px;
    border-radius: 25px;
    background-color: transparent;
    border: 2px solid var(--color-light);
    color: var(--color-light);
    font-size: 20px;
    font-weight: bold;
  }