
@tailwind base;
@tailwind components;
@tailwind utilities;



*{
  margin: 0px;
  padding: 0px;
  color: #fff;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}


:root{
  --color-light:#FFF;
  --color-dark:#000;
  --color-border:#642ADF;
  --color-bg: #fff;
  --primary-color: #18184a;
  --color-btn: #5A96E3;
  --second-color:#39396f;
  --back-color:#18184a;
 
  --header-color:#39396f;
  --side-bar-color:#24234f;
  --button-color:#5e52fe;
}

body{
  background-color: var(--back-color);
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  min-height: 100vh;

}

.site
{
  display: flex;
  flex-direction: column;
}

.Header
{
  max-width: 100%;
  background-color: transparent;
  
}

.NavChild
{
  display: flex;
  
  justify-content: center;
align-items: center;
justify-items: center;
  overflow: hidden;
}

.child
{
  /* flex: 2; */
  flex: 1 100%;
  overflow: hidden;
  max-width: 100dvw;
}


::-webkit-scrollbar {
  display: none;
}

body {
  scrollbar-width: none;
  background-repeat: repeat;
}

body{
  background-color: var(--back-color) !important;
  background-repeat: repeat !important;
}