
.header
{
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding: 10px;
    width: 95%;
    
}

.logo-search
{
    padding-left: 15px;
    display: flex;
}

.logo-search input
{
   
}
.logo-search
{
    font-size: 30px;
    color: var(--second-color);
    font-weight: bold;
}

.profile-img
{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 40px;
}

.profile-img img
{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid white;
}

.login
{
    background-color: #eee;
    height: 30px;
    width: 80px;
    color: rgb(37, 36, 36);
    border-radius: 5px;
    margin-top: 5px;
}

.login:hover{
    background-color: #ddd;
}

.modal
{
    position: relative;
    background-color: rgb(255, 255, 255);
    right: 30px;
    top: 5px;
    width: 100px;
    height: 100px;
    color: black;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 4px 10px 0px rgba(0,0,0,0.31);
}

.modal h1
{
    color: black;
}
.modal li
{
    margin-top: 10px;
}

.modal li:hover
{
    cursor: pointer;
    background-color: #ddd;
}