#PingPong
{
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    border-radius: 25px;

}
#ping1
{
    position: absolute;
    background-color: white;
}
#ping2
{
    position: absolute;
    background-color: white;
}
#ball
{
    background-color: white;
    border-radius: 100%;
    position: absolute;

}
#user1
{
    color: white;
    position: absolute;
    left: 35%;
    top: 5%;
}
#user2
{
    color: white;
    position: absolute;
    left: 60%;
    top: 5%;
}
#result1
{
    color: white;
    position: absolute;
    left: 55%;
    top: 5%;
}
#result2
{
    color: white;
    position: absolute;
    left: 46%;
    top: 5%;
}
#center
{
    color: white;
    position: absolute;
    left: 50%;
    top: 5%;
}