
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Pangolin');

*{
  margin: 0px;
  padding: 0px;
  color: #fff;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

:root{
  --color-light:#fff;
  --color-dark:#000;
  --color-border:#642ADF;
  --color-bg: #363636;
  --primary-color: #4a4646;
  --color-btn: #278dd6;
}

body{
  /* background-image: url("../public/bg.jpg"); */
  background-color: #363636;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* width: 100%; */
  min-height: 100vh;
}

.site
{
  display: flex;
  flex-direction: column;
}

.Header
{
  width: 100dvw;
  height: 60px;
  background-color: var(--color-btn);
}

.NavChild
{
  display: flex;
  justify-content: space-between;
  width: 100dvw;
  height: 95.5dvh;
  overflow: auto;
  /* border: 4px solid #278dd6 ; */
}

.child
{
  height: 96dvh;
  flex: 1;
}