
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Pangolin');



*{
  margin: 0px;
  padding: 0px;
  color: #fff;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}


/*32cd66*/
:root{
  --color-light:#FFF;
  --color-dark:#000;
  --color-border:#642ADF;
  --color-bg: #fff;
  --primary-color: #18184a;
  --color-btn: #5A96E3;
  --second-color:#39396f;
  --back-color:#18184a;
  --header-color:#39396f;
  --side-bar-color:#24234f;
  --button-color:#5e52fe;
}

body{
  background-color: var(--back-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.site
{
  display: flex;
  flex-direction: column;
}

.Header
{
  width: 100dvw;
  height: 60px;
  background-color: transparent;
}

.NavChild
{
  display: flex;
  /* justify-content: space-between;
  width: 100dvw;
  height: 95.5dvh;
  overflow: auto; */
  justify-content: center;
align-items: center;
justify-items: center;
  /* border: 4px solid #278dd6 ; */
  overflow: hidden;
}

.child
{
  /* height: 96dvh; */
  flex: 1;
  overflow: hidden;
}


::-webkit-scrollbar {
  display: none;
}

body {
  scrollbar-width: none;
}