.sidebar {
    width: 45px;
    height: 320px;
    transition: width 0.2s;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: transparent;
  }
  .sidebar-open {
    width: 65px;
    background-color: black/25;
    padding: 0px 2px;
  }

  @keyframes slideInFromLeft {
    0% {
        scale: 1.1
    }
    100% {
        scale: 1;
    }
  }
  .buttona{
    animation: slideInFromLeft 1s ease-in-out infinite;
}

.forhover:hover{
  background: linear-gradient(-45deg, #C56CDD,#8731af);
    background-size: 400% 400%;
    transition: 0.3s;
}