/*----------------------------------------------------------------PingPongSettings------------------------------------------------------------------*/

#Settings
{
    position: relative;
    top: 15%;
    left: 15%;
    width:70%;
    height: 60%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 2%;
    z-index: 0;
}

#Game_title
{
    position: relative;
    top: 4%;
    text-align: center;
    font-size: 3vw;
    color: white;
    z-index: 1;
}

#speed
{
    position: relative;
    display: flex;
    top: 15%;
    font-size: 2vw;
    color: white;
    z-index: 1;
    
}

#speed_p
{
    position: relative;
    left: 15%;
}

#speed_scrool
{
    position: absolute;
    display: flex;
    height: 5%;
    width: 50%;
    left: 35%;
    top: 60%;
    background-color: white;
}

#p_1
{
    position: absolute;
    bottom: 20%;

}

#p_5
{
    position: absolute;
    bottom: 20%;
    left: 48%;
}

#p_10
{
    position: absolute;
    bottom: 20%;
    left: 95%;
}


#map
{
    position: relative;
    display: flex;
    width: 100%;
    height:5%;
    top: 25%;
    font-size: 2vw;
    color: white;
    z-index: 1;
}

#map_p
{
    position: relative;
    left: 15%;
}

#mapv1
{
    position: relative;
    width: 10%;
    height: 100%;
    left: 27%;
    background-color: rgba(88, 21, 141, 0.4);
    border-radius: 10px;
    text-align: center;
}

#mapv2
{
    position: relative;
    width: 10%;
    height: 100%;
    left: 38%;
    background-color: rgba(88, 21, 141, 0.4);
    border-radius: 10px;
    text-align: center;
}

#mapv3
{
    position: relative;
    width: 10%;
    height: 100%;
    left: 50%;
    background-color: rgba(88, 21, 141, 1);
    border-radius: 10px;
    text-align: center;
}

#voice
{
    position: relative;
    display: flex;
    width: 100%;
    height:5%;
    top: 35%;
    font-size: 2vw;
    color: white;
    z-index: 1;
}

#voice_p
{
    position: relative;
    left: 15%;
}

#voice_1
{
    position: relative;
    width: 10%;
    height: 100%;
    left: 26%;
    background-color: rgba(88, 21, 141, 1);
    border-radius: 10px;
    text-align: center;
}

#voice_0
{
    position: relative;
    width: 10%;
    height: 100%;
    left: 37%;
    background-color: rgba(88, 21, 141, 0.4);
    border-radius: 10px;
    text-align: center;
}

#pause_game
{
    position: relative;
    display: flex;
    width: 100%;
    height:5%;
    top: 45%;
    font-size: 2vw;
    color: white;
    z-index: 1;
}

#pause_game_p
{
    position: relative;
    left: 15%;
}

#pause_game_1
{
    position: relative;
    width: 10%;
    height: 100%;
    left: 17%;
    background-color: rgba(88, 21, 141, 0.4);
    border-radius: 10px;
    text-align: center;
}

#pause_game_0
{
    position: relative;
    width: 10%;
    height: 100%;
    left: 28%;
    background-color: rgba(88, 21, 141, 1);
    border-radius: 10px;
    text-align: center;
}

#play
{
    position: relative;
    width: 20%;
    height: 6%;
    top: 60%;
    left: 40%;
    background-color: rgba(88, 21, 141, 0.6);
    border-radius: 15px;
    text-align: center;
}

#play p
{
    position: relative;
    text-align: center;
    font-size:3vw;
    bottom: 10%;
}
