.all{
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.groups
{
    background-color: #eee;
    height: 95dvh;
    border: 1px solid;
    border-color: #d2d0d0;
    flex: 1;
}

@media (max-width: 1000px) {
    .groups{
        display: none;
    }
}

@media (max-width: 600px) {
    .friends{
        display: none;
    }
}
.friends
{
    background-color: #eee;
    border: 1px solid;
    border-color: #d2d0d0;
    flex: 1;
    width:350px
}

.chat-box{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    height: 95dvh;
    flex: 2;
}

.chat-box .chat-send-message form
{
    text-align: center;
    vertical-align: middle;
    align-items: center;
    bottom: 0px;
}

.chat-box .chat-send-message form button
{
    position: relative;
    right: 30px;
    vertical-align: middle;
}

div.chat-info
{
    background-color: #eee;
    display: flex;
    flex:1;
    flex-direction: row;
    align-items: center;
    padding-left: 1%;
    color: black;
}

.chat-messages
{
    display: flex;
    flex-direction: column;
    border: 1px solid;
    flex:10;
    padding: 20px;
}

.chat-send-message
{
    vertical-align: bottom;
    border-radius: 25px;
    flex:1;
} 

.chat-send-message input
{
    background-color: #bdbdbd;
    border-radius: 15px;
    width: 90%;
    height: 40px;
    padding: 10px;
    margin-top: 25px;

}

input:focus
{
    outline: none;
}

.profile-img
{
    height: 60px;
    width: 60px;
}

.profile-img img{
    border-radius: 50%;
}

.profile-info
{
    color: aliceblue;
    margin-left: 15px;
    margin-top: 5px;
}

.profile_box
{
    margin: 2px;
    background-color: var(--color-btn);
    display: flex;
    flex-direction: row;
    height: 70px;
}

.profile_box:hover
{
    cursor: pointer;
    background-color: rgb(148, 179, 233);
}

.groups .chat-header
{
    display: flex;
    align-items: center;
    text-align: center;
    font-size:large;
    padding: 23px;
}

.chat-header h1
{
    font-size: larger;
}

div .chats
{
    border: #bdb9b9;
    border-radius: 25px;
    height: 89.5dvh;
    overflow: auto;
}

.chat-img img
{
    height: 60px;
    width: 60px;
    border-radius: 35px;
    margin: 5px;
}

.profile-name h1
{
    color: #ffffff;
    font-size: 20px;
    margin: 5px;
    font-weight: bold;
}

.profile-name h4
{
    margin: 5px;
}

.messagat
{
    padding: 3px;
    display: flex;
    flex-direction: column;
    height: 80dvh;
    overflow: auto;
}

.me{
    padding: 5px;
    margin-top: 15px;
    background-color: #278dd6;
    align-self: end;
}

.you{
    padding: 5px;
    margin-top: 15px;
    background-color: blue;
    align-self: start;
}

body {
    scrollbar-width: none;
}

.send-btn
{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    align-items: center;
}