#Game
{
    width:100%;
    height:100%;
    /* left: 50%;
    top: 50%;
    transform: (translate(50%,50%));; */
}


.trapezoid {
    border-bottom: 30px solid transparent;
      border-Top: 12.6vw solid #090533;
      border-left: 2vw solid transparent;
      border-right: 2vw solid transparent;
  }

  @media (min-width: 1024px) {
    .trapezoid {
      border-bottom: 30px solid transparent;
        border-Top: 125px solid #090533;
        border-left: 22px solid transparent;
        border-right: 22px solid transparent;
    }
}