.hero {
  height: 100vh;
  transition: background-color 2s ease;
}

.hero-button {
  background-color: #18184a;
  color: #fff;
  padding: 14px 24px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
}
.hero-button .button-icon {
  margin-right: 10px;
}
.hero-button:hover {
  background-color: #39396f;
}
