#Game
{
    position: absolute;
    width: 60vh;
    height:100%;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}

#informaion
{
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    border-top-left-radius:  25px;
    border-top-right-radius:  25px;
    height: 2.5%;
    width: 30vh;
    left:36%;
    top:20%;
}


#PingPong_Game
{
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    border-radius: 25px;
    width: 60vh;
    height: 40%;
}

#ping1
{
    position: absolute;
    background-color: white;
    width: 0.35vh;
    height: 15%;
}
#ping2
{
    position: absolute; 
    background-color: white;
    width: 0.35vh;
    height: 15%;
}
#ball
{
    position: absolute;
    background-color: white;
    border-radius: 100%;
    width: 1.7vh;
      height: 5%;

}
#user1
{
    color: white;
    position: absolute;
    left: 15%;
    top: 25%;
    font-size: 1.5vh;
}
#user2
{
    color: white;
    position: absolute;
    left: 65%;
    top: 25%;
    font-size: 1.5vh;
}
#result1
{
    color: white;
    position: absolute;
    left: 42%;
    top: 25%;
    font-size: 1.5vh;
}
#result2
{
    color: white;
    position: absolute;
    left: 56%;
    top: 25%;
    font-size: 1.5vh;
}
#center
{
    color: white;
    position: absolute;
    left: 50%;
    top: 25%;
    font-size: 1.5vh;
}

#map_name
{
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius:  25px;
    height: 2.5%;
    width: 30vh;
    left:36%;
    top:20%;
}

#map_name div
{
    color: white;
    position: absolute;
    left: 40%;
    top: 25%;
    font-size: 1.5vh;
}
