#Rooms
{
    position: relative;
    left: 10%;
    width: 75%;
    height: 75vw;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

#Rooms p 
{
    position: relative;
    text-align: center;
    font-size: larger;
}

#Room
{
    position: relative;
    top:15%;
    margin-top: 25px;
    left: 10%;
    width: 75%;
    height: 5vw;
    background-color: rgb(57, 57, 111,0.4);
    border-radius: 5px;
}

#Room p
{
    text-align: center;
    top: 10%;
}

#Watch
{
    position:absolute;
    text-align: center;
    left:90%;
    bottom: 10%;
}

#CreateRoom button
{
    position:relative;
    text-align: center;
    width: 15%;
    left:42.5%;
    top: 5%;
    background-color: rgb(57, 57, 111,0.4);
}