
/*---------------------------------- this page for /app/Games/page.tsx --------------------------------------------*/

main
{
    width: 100%;
    top: 100%;
    background-color: black;
    background-image: url(../../../public/game-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: blur(8px); */    backdrop-filter: blur(16px);
    

}
.games
{
    position: relative;
    top: 30%;
    width: 100%;
    height: 40%;
    display: flex;
}

.PingPong_rectangle
{
    position: relative;
    width: 20%;
    height: 78.7%;
    border: 5px solid #58109F;
    border-radius: 25px;
}
.PingPong_rectangle img
{
    position:relative;
    object-fit: contain;
    width: 100%;
    height: 100%;
    display: block;

    top: 5%;
    
}
.PingPong_rectangle p
{
    position: relative;
    text-align: center;
    display: block;
    bottom: 10%;
    
}

.Chess_rectangle
{
    position: relative;
    width: 20%;
    height: 78.7%;
    /* padding: 2.5%; */
    border: 5px solid #2FA3E4;
    border-radius: 25px;
}
.Chess_rectangle img
{
    position:relative;
    object-fit: contain;
    width: 75%;
    height: 75%;
    display: block;
    left: 13.5%;
    top: 10%;
    bottom: 2%;
    
}
.Chess_rectangle p
{
    position: relative;
    text-align: center;
    display: block;

    top: 15%;
    
}

.CardGames_rectangle
{
    position: relative;
    width: 20%;
    height: 78.7%;
    /* padding: 3%; */
    border: 5px solid #1483EA;
    border-radius: 25px;

}
.CardGames_rectangle img
{
    position:relative;
    object-fit: contain;
    width: 75%;
    height: 75%;
    display: block;
    left: 12%;
    top: 10%;
    
}
.CardGames_rectangle p
{
    position: relative;
    display: block;
    text-align: center;
    top: 15%;
    
}
/*---------------------------------- this page for /app/Games/PingPong/page.tsx --------------------------------------------*/
.PingPong
{
    background-color: black;
    filter: opacity(40%);
    position: relative;
    top: 30%;
    left: 10%;
    width: 80%;
    height: 40%;
    border: 5px;
    border-radius: 25px;

}
#ping1
{
    position: absolute;
    background-color: white;
    width:0.5%;
    height: 15%;
    top:45%;

}
#ping2
{
    position: absolute;
    background-color: white;
    width:0.5%;
    height: 15%;
    left: 99.5%;
    top:45%;

}
#ball
{
    background-color: white;
    border-radius: 100%;
    position: absolute;
    width: 25px;
    height: 25px;
    left: 50%;
    top: 50%;

}
#user1
{
    position: absolute;
    left: 35%;
    top: 5%;
}
#user2
{
    position: absolute;
    left: 60%;
    top: 5%;
}
#result1
{
    position: absolute;
    left: 55%;
    top: 5%;
}
#result2
{
    position: absolute;
    left: 46%;
    top: 5%;
}
#center
{
    position: absolute;
    left: 50%;
    top: 5%;
}