
#Rooms
{
    background: linear-gradient(-45deg, #C56CDD,#18184a);
    background-size: 400% 400%;
} 

.Room
{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    padding-top: 5px;
    border-radius: 5px;
    width: 300px;
    height: 60px;
    background-color: rgb(0,0,0,0.15);
}
@media (min-width: 768px) {
    .Room
    {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
        padding-top: 9px;
        border-radius: 7.5px;
        width: 400px;
        height: 60px;
        background-color: rgb(0,0,0,0.15);
    }
}
@media (min-width: 1024px) {
    .Room
    {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 13px;
        padding-top: 5px;
        border-radius: 10px;
        width: 600px;
        height: 60px;
        background-color: rgb(0,0,0,0.15);
    }
}

#Join
{
    position:relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 25px;
    border-radius: 5px;
    background-color: rgb(99,102,241);
}
