
#Rooms
{
    background: linear-gradient(-45deg, #C56CDD,#18184a);
    background-size: 400% 400%;
} 

/* #Rooms p 
{
    position: relative;
    text-align: center;
    font-size: larger;
}

.Room
{
    position: relative;
    top:15%;
    margin-top: 25px;
    left: 10%;
    width: 75%;
    height: 5vw;
    background-color: rgb(57, 57, 111,0.4);
    border-radius: 5px;
}

.Room p
{
    text-align: center;
    top: 10%;
}

#Join
{
    position:absolute;
    text-align: center;
    left:90%;
    bottom: 10%;
}

#CreateRoom button
{
    position:relative;
    text-align: center;
    width: 15%;
    left:42.5%;
    top: 5%;
    background-color: rgb(57, 57, 111,0.4);
} */