.navbar{
    display: flex;
    justify-content: space-between;
}

.logo_welcome{
    color:var(--color-light);
    font-size: 30px;
    margin: 30px;
}


.profile_link{
    color: var(--color-light);
    font-size: 25px;
    font-weight: bold;
    margin: 30px;
}
