
.NavBar{
    height: 96dvh;
    width: 60px;
    background-color: var(--color-btn);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    border-top: 1px solid var(--primary-color);
}

.Setting
{
    /* margin-top: 20px; */
    flex: 1;
    align-self: center;
}

.Content
{
    display: flex;
    align-self: center;
    flex-direction: column;
    flex: 2;
}

.Content button 
{
    /* background-color: red; */
    padding: 50px 10px;
}

.Logout
{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-self: center;
}

.Logout button
{
    padding-top: 250px;
}

.profile-btn:hover
{
    background-color: #19659b;
}
