#informaion
{
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    border-top-left-radius:  25px;
    border-top-right-radius:  25px;
    height: 5%;
    width: 40%;
    left:30%;
    top:20%;
}


#PingPong_Game
{
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    border-radius: 25px;

}
#ping1
{
    position: absolute;
    background-color: white;
}
#ping2
{
    position: absolute;
    background-color: white;
}
#ball
{
    background-color: white;
    border-radius: 100%;
    position: absolute;

}
#user1
{
    color: white;
    position: absolute;
    left: 15%;
    top: 25%;
    font-size: 2vw;
}
#user2
{
    color: white;
    position: absolute;
    left: 65%;
    top: 25%;
    font-size: 2vw;
}
#result1
{
    color: white;
    position: absolute;
    left: 42%;
    top: 25%;
    font-size: 2vw;
}
#result2
{
    color: white;
    position: absolute;
    left: 56%;
    top: 25%;
    font-size: 2vw;
}
#center
{
    color: white;
    position: absolute;
    left: 50%;
    top: 25%;
    font-size: 2vw;
}

#map_name
{
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius:  25px;
    height: 5%;
    width: 40%;
    left:30%;
    top:20%;
}
#map_name div
{
    color: white;
    position: absolute;
    left: 40%;
    top: 25%;
    font-size: 2vw;
}