

.bgtet{
    background: linear-gradient(-45deg, #C56CDD,#18184a);
    background-size: 400% 400%;
}

/* #play
{
    position: absolute;
    width: 20%;
    height: 6%;
    top: 87.5%;
    left: 40%;
    background-color: rgb(57, 57, 111,0.6);
    border-radius: 15px;
    text-align: center;
}

#play p
{
    position: relative;
    text-align: center;
    font-size:3vmin;
} */

@keyframes Animation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes Animation2 {
    0%
    {
        left:25%;
    }
    25%
    {
        left:24%;
    }
    75%
    {
        left:26%;
    }
    100%
    {
        left:25%;
    }
}

#warning
{
    position: relative;
    text-align: center;
    color: white;
    width: 50%;
    font-size: 1vw;
    top:62.5%;
    left: 25%;
}

/*----------------------------------Room Style-------------------------------*/

#Room{

    position: absolute;
    filter: blur(0px);
    top: 33.5%;
    width: 100%;
    height: 33%;
    background-color: rgba(56, 57, 113);
    border-radius: 2%;
    z-index: 3;
}

#Player1name
{
    position: absolute;
    top:5%;
    left:10%;

}

#Player2name
{
    position: absolute;
    top:5%;
    left: 75%;
}

#Player1Pic img
{
    position: absolute;
    border-radius: 50%;
    top:25%;
    left:7.5%;
    width:100px;
    height: 100px;
}

#VS
{
    position: absolute;
    font-size: 50px;
    top:30%;
    left:45%;
}

#Player2Pic img
{
    position: absolute;
    border-radius: 50%;
    top:25%;
    right:7.5%;
    width:100px;
    height: 100px;
}


#start
{
    position: absolute;
    text-align: center;
    background-color: rgb(24, 24, 74);
    border-radius: 25px;
    bottom:7.5%;
    left: 44%;
    width:75px;
    height: 30px;
}
#start p 
{
    text-align: center;
    top:25%
} 